<h2>Contacts</h2>
<p>
<br>
<form class="form-horizontal" role="form">
  <div class="form-group">
    <label class="col-md-2 control-label" for="searchInput">Search</label>
    <div class="col-md-6">
        <input class="form-control" type="text" id="searchInput" ng-model="searchInput" name="searchInput" placeholder="search by name"/>
    </div>
  </div>
</form>

<div ng-if="message">
    <i>{{ message }}</i>
    <br>
    <br>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Country</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="person in persons | filter:searchInput">
      <td> <a ng-href="#/{{ person.id }}"> {{ person.fullname }} </a> </td>
      <td> {{ person.phonenumber }} </td>
      <td> {{ person.countrycode }} </td>
    </tr>
    <tr ng-if="persons.length === 0 && !message">
        <td><strong>No contacts found. <a ng-href="#/add">Add a new contact</a> </strong>.</td>
    </tr>
  </tbody>
</table>

<div ng-if="persons.length > 0">
  <a ng-href="#/add"><button class="btn btn-primary">Add new a new contact</button></a>
</div>

<p>
<br>
