<div class="col-md-8 pull-left">
  <div>
    <span ng-if="id" class="large">Edit contact</span>
    <span ng-if="!id" class="large">Add contact</span>
  </div>
<p>
<br>

  <div>
    <form ng-submit="save(person)" ng-controller="controller" class="form-horizontal" role="form">
      <div class="form-group">
        <label class="col-md-2 control-label" for="firstname">First name</label>
        <div class="col-md-6">
  		    <input class="form-control" type="text" id="firstname" ng-model="person.firstname" name="firstname" placeholder="first name"/>
  		</div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label" for="lastname">Last name</label>
        <div class="col-md-6">
  		    <input class="form-control" type="text" id="lastname" ng-model="person.lastname" name="lastname" placeholder="last name"/>
  		</div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label" for="phonenumber">Phone number</label>
        <div class="col-md-6">
  		    <input class="form-control" type="text" id="phonenumber" ng-model="person.phonenumber" name="phonenumber" placeholder="phone number"/>
  		</div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label" for="country">Country code</label>
        <div class="col-md-3">
  		    <input class="form-control" type="text" id="country" ng-model="person.countrycode" name="country" placeholder="country"/>
  		</div>
      </div>
    <div ng-if="id" class="form-group">
        <label class="col-md-2 control-label" for="delete">Delete</label>
        <div class="col-md-1">
  		    <input class="form-control" type="checkbox" id="delete" ng-model="person.delete" name="delete" placeholder=""/>
  		</div>
      </div>
      <div class="col-md-8 form-group pull-left">
        <div class="col-md-8">
          <button ng-if="id" class="btn btn-primary" type="submit" value="save">Save</button>
          <button ng-if="!id" class="btn btn-primary" type="submit" value="add">Add</button>
          <!-- a ng-if="id" ng-href="#/delete"><button class="btn btn-default" type="button" value="delete">Delete</button></a -->
          <a ng-href="#/"><button class="btn btn-default" type="button" value="cancel">Cancel</button></a>
        </div>
      </div>
    </form>
  </div>
</div>

<script>
$("#firstname").focus();
</script>
